h1{
    font: 200;
    text-transform: uppercase;
}
p{

}
body{
    background-color: plum;

}

@media (max-width:500px){


    body{

        background-color: aqua;
    }
    h1{
        font-size: 50%;
        text-transform: lowercase;
    }
}